In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import normalize

In [2]:
# 1. Функція гіпотези
def hypothesis(w, X):
    return np.dot(X, w)

In [3]:
# 2. Функція втрат
def compute_loss(w, X, y):
    m = len(y)
    h = hypothesis(w, X)
    loss = (1/(2*m)) * np.sum((h - y)**2)
    return loss

In [4]:
# 3. Один крок градієнтного спуску
def gradient_descent_step(w, X, y, alpha):
    m = len(y)
    h = hypothesis(w, X)
    gradient = (1/m) * np.dot(X.T, (h - y))
    w = w - alpha * gradient
    return w

In [5]:
# 4. Градієнтний спуск
def gradient_descent(X, y, alpha, num_iterations):
    m, n = X.shape
    w = np.zeros(n)
    for _ in range(num_iterations):
        w = gradient_descent_step(w, X, y, alpha)
    return w

In [30]:
# 5. Аналітичне рішення
def analytical_solution(X, y):
    return np.linalg.inv(X.T @ X) @ X.T @ y

In [17]:
# 6. знайдіть найкращі параметри $\vec{w}$ для датасету прогнозуючу ціну на будинок залежно від площі, 
# кількості ванних кімнат та кількості спалень;

df = pd.read_csv("C:/Users/Mykola/Documents/GitHub/Data_science_hw_3/Housing.csv")

df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [32]:
norm = df.copy()
columns = ['price', 'area', 'bedrooms', 'bathrooms']
for column in columns:
  norm[column] = (df[column] - df[column].mean()) / df[column].std()

In [34]:
X = norm[['area', 'bedrooms', 'bathrooms']].values
y = norm['price'].values
learning_rate = 0.001
num_iter = 100000
eps = 1e-12
w = gradient_descent(X, y, alpha, num_iterations)
print(f'Gradient Descent: {w.round(4)}')

Gradient Descent: [0.4394 0.1607 0.3722]

In [35]:
X = norm[['area', 'bedrooms', 'bathrooms']].values
y = norm['price'].values
ones = np.ones((X.shape[0], 1))
X = np.hstack((ones, X))
w_analytical = np.linalg.inv(X.T @ X) @ X.T @ y

print(f'Analytical Solution: {w_analytical.round(4)}')

Analytical Solution: [0.     0.4395 0.1605 0.3723]